<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.UserMapper">
    <sql id="Base_Column_List">
        id, uname, unumber
    </sql>
    <select id="getUserById" resultType="Map" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from et_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getUserList" resultType="Map">
        select
        <include refid="Base_Column_List" />
        from et_user
    </select>
</mapper>